@page "/login"
@page "/"

<div class="signIn">
    <EditForm Model="@_loginDto" OnValidSubmit="ExecuteLogin">
        <DataAnnotationsValidator />
        <MudGrid Class="justify-center" Spacing="0">
            <MudItem xs="5">
                <MudPaper Class="d-flex flex-column justify-content-center align-items-center login-content h-100 rounded-0">
                    <MudImage Src="../images/logo.png" Alt="logo" class="logo" />
                    <MudTextField @bind-Value="@_loginDto.Email" For="@(() => _loginDto.Email)" Placeholder="Email" InputMode="InputMode.email" InputType="InputType.Email"></MudTextField>
                    <MudTextField @bind-Value="@_loginDto.Password" Required="true" For="@(() => _loginDto.Password)" Placeholder="Password" InputType="InputType.Password"></MudTextField>
                    @if (ShowAuthError)
                    {
                        <MudText Align="Align.Center" Color="Color.Warning" Typo="Typo.body2">@Error</MudText>
                    }
                    <MudButton ButtonType="ButtonType.Submit">Sign in</MudButton>
                    <MudButton class="create-new">I dont have an account create one</MudButton>
                    <span class="separator">OR</span>
                    <MudButton class="social-media" ButtonType="ButtonType.Submit"><MudImage Src="../images/devicon_google.png" Alt="devivon_google" />Continue using Google ID</MudButton>
                    <MudButton class="social-media" ButtonType="ButtonType.Submit"><MudImage Src="../images/apple.png" Alt="apple" />Continue using Apple ID</MudButton>
                </MudPaper>
            </MudItem>
            <MudItem xs="7">
                <MudImage Src="../images/login-bg.png" Alt="login-bg" />
            </MudItem>
        </MudGrid>
    </EditForm>
</div>
