@page "/"
@page "/login"

@* <div class="signIn">
    <EditForm Model="@_loginDto" OnValidSubmit="ExecuteLogin">
        <DataAnnotationsValidator />
    <MudGrid Class="justify-center" Spacing="0">
        <MudItem xs="5">
            <MudPaper Class="d-flex flex-column justify-content-center align-items-center login-content h-100 rounded-0">
                <MudImage Src="../images/logo.png" Alt="logo" class="logo" />
                    <MudTextField @bind-Value="@_loginDto.Email" For="@(() => _loginDto.Email)" Placeholder="Email" InputMode="InputMode.email" InputType="InputType.Email"></MudTextField>
                    <MudTextField @bind-Value="@_loginDto.Password" Required="true" For="@(() => _loginDto.Password)" Placeholder="Password" InputType="InputType.Password"></MudTextField>
                @if (ShowAuthError)
                {
                    <MudText Align="Align.Center" Color="Color.Warning" Typo="Typo.body2">@Error</MudText>
                }
                <MudButton ButtonType="ButtonType.Submit">Sign in</MudButton>
                <MudButton class="create-new" Href="/register">I don't have an account, create one</MudButton>
                <span class="separator">OR</span>
                <MudButton class="social-media" ButtonType="ButtonType.Submit"><MudImage Src="../images/devicon_google.png" Alt="devivon_google" />Continue using Google ID</MudButton>
                <MudButton class="social-media" ButtonType="ButtonType.Submit"><MudImage Src="../images/apple.png" Alt="apple" />Continue using Apple ID</MudButton>
            </MudPaper>
        </MudItem>
        <MudItem xs="7">
            <MudImage Src="../images/login-bg.png" Alt="login-bg" Class="login-img"/>
        </MudItem>
    </MudGrid>
    </EditForm>
</div> *@

<div class="signIn">
    <div class="row g-0 justify-content-center">
        <div class="col-6 col-xl-5">
            <div class="login-content">
                <EditForm Model="@_loginDto" OnValidSubmit="ExecuteLogin">
                    <DataAnnotationsValidator />
                    <img src="../images/logo.png" Alt="logo" class="logo" />
                    <div>
                        <div>
                            <div class="login-input">
                                <InputText class="mb-3 mb-xl-4" type="email" @bind-Value="@_loginDto.Email" DisplayName="Email" placeholder="Email"></InputText>
                                <ValidationMessage For="@(() => _loginDto.Email)" />
                            </div>
                            <div class="login-input">

                                <InputText type="password" class="mb-3 mb-xl-4" @bind-Value="@_loginDto.Password" DisplayName="Password" placeholder="Password"></InputText>
                                <ValidationMessage For="@(() => _loginDto.Password)" />
                            </div>

                            @if (ShowAuthError)
                            {
                                <span class="text-danger">@Error</span>
                            }
                        </div>
                        <Button Class="login-btn" Type="ButtonType.Submit">Sign in</Button>
                        <Button Class="login-btn create-new" @onclick="@(() => NavigationManager.NavigateTo("/register"))">I don't have an account, create one</Button>
                        <span class="separator">OR</span>
                        <Button class="social-media mb-4"><img src="../images/devicon_google.png" alt="devivon_google" />Continue using Google ID</Button>
                        <Button class="social-media"><img src="../images/apple.png" alt="apple" />Continue using Apple ID</Button>

                    </div>
                </EditForm>
            </div>
        </div>
        <div class="col-6 col-xl-7">

            <img src="../images/login-bg.png" Alt="login-bg" Class="login-img" />

        </div>
    </div>

</div>
