@* @page "/"
@page "/login"


<div class="signIn">
    <div class="row g-0 justify-content-center">
        <div class="col-6 col-xl-5">
            <div class="login-content">
                <form @onsubmit="ExecuteLogin">

                    <img src="../images/logo.png" Alt="logo" class="logo" />
                    <div>
                        <div>
                            <div class="login-input">
                                <input class="mb-3 mb-xl-4" type="email" @bind="@_loginDto.Email" name="Email" placeholder="Email"  required/>
                            </div>
                            <div class="login-input">

                                <input type="password" class="mb-3 mb-xl-4" @bind="@_loginDto.Password" name="Password" placeholder="Password" required/>                                <ValidationMessage For="@(() => _loginDto.Password)" />
                            </div>

                            @if (ShowAuthError)
                            {
                                <span class="text-danger">@Error</span>
                            }
                        </div>
                        <button class="login-btn" type="Submit">Sign in</button>
                        <button class="login-btn create-new" @onclick="@(() => NavigationManager.NavigateTo("/register"))">I don't have an account, create one</button>
                        <span class="separator">OR</span>
                        <button class="social-media mb-4"><img src="../images/devicon_google.png" alt="devivon_google" />Continue using Google ID</button>
                        <button class="social-media"><img src="../images/apple.png" alt="apple" />Continue using Apple ID</button>

                    </div>
                </form>
            </div>
        </div>
        <div class="col-6 col-xl-7">

            <img src="../images/login-bg.png" Alt="login-bg" class="login-img" />

        </div>
    </div>

</div>
 *@