@page "/register"
@using FirstTerraceSystems.Components
@using FirstTerraceSystems.Services.IServices

@inject BsToastService Toast
@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager


<CloseButton />

@if (ShowRegister)
{
    <div class="row justify-content-center w-100">
        <div class="col-sm-8 col-lg-4">
            <div Class="signIn signUp questions login-content">
                <EditForm Model="@_registerDto" OnValidSubmit="ValidateUserAsync" autocomplete="off" aria-autocomplete="none">
                    <DataAnnotationsValidator />
                    <img src="../images/applogtemp.png" Alt="logo" class="logo" />

                    <InputText @bind-Value="_registerDto.first_name" DisplayName="First name" placeholder="First name" autocomplete="off" aria-autocomplete="none"></InputText>
                    <ValidationMessage For="@(() => _registerDto.first_name)" />
                    <InputText @bind-Value="@_registerDto.last_name" DisplayName="Last name" placeholder="Last name" autocomplete="off" aria-autocomplete="none"></InputText>
                    <ValidationMessage For="@(() => _registerDto.last_name)" />
                    <InputText type="email" @bind-Value="@_registerDto.email" DisplayName="Email" placeholder="Email" autocomplete="off" aria-autocomplete="none"></InputText>
                    <ValidationMessage For="@(() => _registerDto.email)" />
                    <div class="password-input">
                        <InputText class="txt-password-input" type="password" @bind-Value="@_registerDto.password" DisplayName="Password" placeholder="Password" autocomplete="new-password" aria-autocomplete="none"></InputText>
                        <i class="password-toggle bi bi-eye"></i>
                        <ValidationMessage For="@(() => _registerDto.password)" />
                    </div>
                    <div class="password-input">
                        <InputText class="txt-password-input" type="password" @bind-Value="@_registerDto.confirm_password" DisplayName="Confirm Password" placeholder="Confirm Password"></InputText>
                        <i class="password-toggle bi bi-eye"></i>
                        <ValidationMessage For="@(() => _registerDto.confirm_password)" />
                    </div>
                    <Button Class="login-btn create-new" Type="ButtonType.Submit">Continue</Button>
                    <Button Class="login-btn create-new tab-to-close-app" @onclick="@(() => NavigationManager.NavigateTo("/login"))">Back</Button>

                </EditForm>
            </div>
        </div>
    </div>

}
else
{
    <div class="row justify-content-center w-100">
        <div class="col-sm-8 col-lg-4">
            <div class="signIn signUp questions login-content">
                <EditForm Model="@_registerQuestion" OnValidSubmit="SaveAsync">
                    <DataAnnotationsValidator />
                    <p>Before we continue, we require a bit of information regarding your trading experience.</p>

                    <div class="position-relative">
                        <InputSelect @bind-Value="_registerQuestion.Question_1" Label="How long have you been trading?">
                            <option value="">How long have you been trading?</option>
                            <option value="Less than 1 year">Less than 1 year</option>
                            <option value="1-3 years">1-3 years</option>
                            <option value="3-5 years">3-5 years</option>
                            <option value="More than 5 years">More than 5 years</option>
                        </InputSelect>
                        <img src="../images/vector.png" />
                    </div>
                    <ValidationMessage For="@(() => _registerQuestion.Question_1)" />
                    <div class="position-relative">
                        <InputSelect @bind-Value="_registerQuestion.Question_2" Label="How often do you trade?">
                            <option value="">How often do you trade?</option>
                            <option value="Daily">Daily</option>
                            <option value="Weekly">Weekly</option>
                            <option value="Monthly">Monthly</option>
                            <option value="Rarely">Rarely</option>
                        </InputSelect>
                        <img src="../images/vector.png" />
                    </div>
                    <ValidationMessage For="@(() => _registerQuestion.Question_2)" />
                    <div class="position-relative">
                        <InputSelect @bind-Value="_registerQuestion.Question_3" Label="What markets do you primarily trade in?">
                            <option value="">What markets do you primarily trade in?</option>
                            <option value="Stocks">Stocks</option>
                            <option value="Options">Options</option>
                            <option value="Futures">Futures</option>
                            <option value="Forex">Forex</option>
                        </InputSelect>
                        <img src="../images/vector.png" />
                    </div>
                    <ValidationMessage For="@(() => _registerQuestion.Question_3)" />
                    <div class="position-relative">
                        <InputSelect @bind-Value="_registerQuestion.Question_4" Label="How would you rate your trading knowledge?">
                            <option value="">How would you rate your trading knowledge?</option>
                            <option value="Beginner">Beginner</option>
                            <option value="Intermediate">Intermediate</option>
                            <option value="Advanced">Advanced</option>
                        </InputSelect>
                        <img src="../images/vector.png" />
                    </div>
                    <ValidationMessage For="@(() => _registerQuestion.Question_4)" />
                    <div class="position-relative">
                        <InputSelect @bind-Value="_registerQuestion.Question_5" Label="What tools do you use for market analysis?">
                            <option value="">What tools do you use for market analysis?</option>
                            <option value="Technical Analysis Tools">Technical Analysis Tools</option>
                            <option value="Fundamental Analysis Tools">Fundamental Analysis Tools</option>
                            <option value="Both">Both</option>
                            <option value="None">None</option>
                        </InputSelect>
                        <img src="../images/vector.png" />
                    </div>
                    <ValidationMessage For="@(() => _registerQuestion.Question_5)" />


                    <Button Class="login-btn create-new" Type="ButtonType.Submit">Create account</Button>
                    <Button Class="login-btn create-new" @onclick="BackToRegistration">Back</Button>
                    <Button Class="login-btn create-new tab-to-close-app" @onclick="@(() => NavigationManager.NavigateTo("/login"))">Back to Sign In</Button>

                </EditForm>
            </div>
        </div>
    </div>

}

