@page "/registerQuestion"
<div class="signIn signUp">
    <MudGrid Class="justify-center" Spacing="0">
        <MudItem xs="8">
            <MudPaper Class="d-flex flex-column justify-content-center align-items-center login-content h-100 rounded-0">

                <p>Before we continue, we require a bit of information regarding your trading experience.</p>
                <MudSelect Dense="true" T="string" Label="Question 1" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter">
                    <MudSelectItem Value="@("Tyrannosaur")" />
                    <MudSelectItem Value="@("Triceratops")" />
                    <MudSelectItem Value="@("Henon Rex")" />
                </MudSelect>
                <MudSelect Dense="true" T="string" Label="Question 2" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter">
                    <MudSelectItem Value="@("Tyrannosaur")" />
                    <MudSelectItem Value="@("Triceratops")" />
                    <MudSelectItem Value="@("Henon Rex")" />
                </MudSelect>
                <MudSelect Dense="true" T="string" Label="Question 3" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter">
                    <MudSelectItem Value="@("Tyrannosaur")" />
                    <MudSelectItem Value="@("Triceratops")" />
                    <MudSelectItem Value="@("Henon Rex")" />
                </MudSelect>
                <MudSelect Dense="true" T="string" Label="Question 4" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter">
                    <MudSelectItem Value="@("Tyrannosaur")" />
                    <MudSelectItem Value="@("Triceratops")" />
                    <MudSelectItem Value="@("Henon Rex")" />
                </MudSelect>
                <MudSelect Dense="true" T="string" Label="Question 5" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter">
                    <MudSelectItem Value="@("Tyrannosaur")" />
                    <MudSelectItem Value="@("Triceratops")" />
                    <MudSelectItem Value="@("Henon Rex")" />
                </MudSelect>
                <MudButton ButtonType="ButtonType.Submit">Create account</MudButton>
                <MudButton class="create-new" ButtonType="ButtonType.Submit" Href="/register"> Back</MudButton>
            </MudPaper>
        </MudItem>
    </MudGrid>
</div>